<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>

<body >
<hr />
<div id="main">
<div id="list" v-if="UI=='main'">
	<h1>This is the main page.</h1>
	<button @click="setAddUI()">Load Add Form</button>
	<table border=1>
		<tr><td>序號</td><td>商品名稱</td><td>價格</td><td>數量</td><td>-</td><td>內容</td></tr>
		<tr v-for="job in dat">
			<td>{{job.id}}</td>
			<td>{{job.jobName}}</td>
			<td>{{job.jobUrgent}}</td>
			<td>{{job.jobContent}}</td>
			<td><button @click="delJob(job.id)">刪</button><button @click="setEditUI(job)">改</button></td>
            <td>{{job.jobDescription}}</td>
		</tr>
	</table>
</div>
<div v-if="UI=='editForm'">
	商品名稱: <input type="text"  v-model="newJob.jobName"/> <br/>
    
    價格: <input type="text"  v-model="newJob.jobUrgent"/> <br/>

	數量: <textarea v-model="newJob.jobContent"></textarea><br>
    
    內容: <textarea v-model="newJob.jobDescription"></textarea><br>

	<input type='button' @click="addJob()" value="save">
</div>
</div>
<script>
const todoApp= Vue.createApp({
	data() {
		return {
			UI: 'main',
			dat: [],
			newJob: {
				id: -1,
				jobName: '',
				jobUrgent: '',
				jobContent: '',
                jobDescription: ''
			}
		}
	},
	methods: {
		loadList: function () {
			const that=this; //this  ==> stands for vm6. let's save `this` to `that`
			fetch('productControl.php?act=listJob')
			.then(function(response) {
				return response.json();
			})
			.then(function(myJson) {
				//we are inside the callback function, now `this` means the function, not vm6
				//we will use `that` to access vm6

				that.dat = myJson;
				//todoApp.dat = myJson;
			});
		},
		delJob: function (id) {
			const that=this;
			let url="productControl.php?act=delJob&id="+id;
			fetch(url,{
				method: 'POST'
			})
			.then(function(res){return res.text(); }) //取得傳回值，轉為文字
			.then(function(data){
				console.log(data);
				that.loadList();
			})
		},
		addJob: function () {
			const that=this;
			let mydat = new FormData();
			mydat.append( "dat", JSON.stringify(this.newJob) );

			let url="productControl.php?act=addJob";
			fetch(url,{
				method: 'POST',
				body: mydat // 將表單物件放入fetch的body屬性
			})
			.then(function(res){return res.text(); }) //取得傳回值，轉為文字
			.then(function(data){ 
				console.log(data);
				that.setUI('main');
				that.loadList();
			})
		},
		setEditUI: function(job) {
			this.newJob=job;
			this.setUI('editForm');
		},
		setAddUI: function() {
			this.newJob={
				id: -1,
				jobName: '',
				jobUrgent: '',
				jobContent: '',
                jobDescription:''
			};
			this.setUI('editForm');
		},
		setUI: function(page) {
			this.UI=page;
		}
	},
	created() {
		this.loadList();
	}
}).mount("#main");
</script>
</body></html>